<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 style="color: rgb(132,139,146); margin-bottom: -1%;">What is GyanDaan ?</h1>
                    <p style="font-size:large;"><br>Gyandaan is analogous to Shramdaan, which means voluntary contribution of knowledge. Gyandaan is made of two words, ‘Gyan’ means knowledge and ‘daan’ means donation. It means a voluntary contribution of citizens towards community education involving teaching, mentoring and helping someone in academics. It is a way of helping our society and contributing for the overall upliftment of the students specially from the underprivileged and poor backgrounds who can't afford to enroll themselves into coaching classes and other courses.<br></p>
                </div>
            </div>
        </div>
    </section>
</main>
<section>
    <div class="container">
        <div class="row">
            <div class="col"><img style="margin-left: 21%;max-width: 55%;" class="img-fluid border rounded-circle border-dark" src="assets/img/4529183.jpg"></div>
            <div class="col"><img style="margin-left: 21%;max-width: 55%;" class="img-fluid border rounded-circle border-dark" src="assets/img/18915856.jpg"></div>
        </div>
        <br>
    </div>
    <div class="container">
        <div class="row" id="r1">
            <div class="col" data-bss-hover-animate="pulse"><a style="margin-left: 8.5%;max-width: 80%;" class="btn btn-dark text-center border-white shadow-sm d-md-flex justify-content-md-center" role="button" href="/login?type=student">Student</a></div>
            <div class="col" data-bss-hover-animate="pulse"><a style="margin-left: 8.5%;max-width: 80%;" class="btn btn-dark text-center border-white shadow-sm d-md-flex justify-content-md-center" role="button" href="/login?type=mentor">Mentor</a></div>
        </div>
    </div>
    <br/>
    <br/>
</section>